---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 2
  url: /about
permalink: /about/
---

<h1 class="w3-text-light-grey">About me</h1>

I figured I'd just make an FAQ of the questions I get asked most often.

<h2 class="w3-text-light-grey">Frequently Asked Questions:</h2>

<ul>
  <li><a href="#Q1">What's your brief introduction?</a></li>
  <li><a href="#Q2">What are your views on DevRel as a practice?</a></li>
  <li><a href="#Q3">What style of DevRel are you?</a></li>
  <li><a href="#Q4">Where in an organization do you think DevRel should live?</a></li>
</ul>

<h3 class="w3-text-light-grey" id="Q1">What's your brief introduction?</h3>

<p class="w3-text-light-grey">Hi, my name is Kassian (Kah-see-an), I use they/their/them 
  pronouns, and I've been a developer advocate/relations engineer/evangelist for over 6 
  years, and a developer for over 10. I specialize in planning and executing on content 
  campaigns, community interfacing, and open source contribution. </p>

<h3 class="w3-text-light-grey" id="Q2">What are your views on DevRel as a practice?</h3>
<p class="w3-text-light-grey">One of the things I love most about DevRel is the variety;
  there are so many things to do at any given time. I view DevRel as a mutually beneficial 
  relationship with users; be it providing them with stellar content that solves their 
  problems, speaking at events, or creating communities. This relationship takes a lot 
  of effort and work, but is extremely rewarding in feedback and product sales.
</p>

<h3 class="w3-text-light-grey" id="Q3">What style of DevRel are you?</h3>
<p class="w3-text-light-grey">I am a very technical DevRel practitioner; I have and probably 
  always will push code (even in my spare time). I love producing content of any variety; be 
  it written, video, or speaking, or anything in between. I thrive on variety and a challenge, so 
  ideally I'm in a role where the needs change regularly with a product I can get behind and 
  a challenge to keep me on my toes.</p>

<h3 class="w3-text-light-grey" id="Q4">Where in an organization do you think DevRel should live?</h3>
<p class="w3-text-light-grey">It really depends on what stage of growth your organization 
  is in and what you need from your DevRel team. If you need feedback and user support, I think 
  product could be a good fit. Do you need reach? Marketing might be your go-to. Regardless of 
  the department, I believe good DevRel comes from rich relationships with nearly all other 
  teams, so where they land in the org isn't extremely overbearing.