---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
  url: /contact
permalink: /contact/
---

<h1>Contact me</h1>

<div class="contact-links">

    <i class="fa-regular fa-envelope">  <a target="_blank" href="mailto:the+contact@nodebotani.st"></a></i>
    <i class="fa-brands fa-square-twitter"><a target="_blank" href="https://twitter.com/nodebotanist"></a></i>
    <i class="fa-brands fa-mastodon"><a target="_blank" href="https://neovibe.app/@nodebotanist"></a></i>
    <i class="fa-brands fa-linkedin"><a target="_blank" href="https://linkedin.com/in/nodebotanist"></a></i>
    <i class="fa-brands fa-github"><a target="_blank" href="https://github.com/nodebotanist"></a></i>

</div>