---
layout: layouts/home.njk
eleventyNavigation:
  key: Contact
  order: 4
  url: /contact
permalink: /contact/
---

<h1>Contact me</h1>

<div class="contact-links">
  <a target="_blank" href="mailto:the+contact@nodebotani.st">
    <i class="fa-regular fa-envelope">&nbsp;</i>
  </a>
  <a target="_blank" href="https://twitter.com/nodebotanist">
    <i class="fa-brands fa-square-twitter">&nbsp;</i>
  </a>
  <a target="_blank" href="https://neovibe.app/@nodebotanist">
    <i class="fa-brands fa-mastodon">&nbsp;</i>
  </a>
  <a target="_blank" href="https://linkedin.com/in/nodebotanist">
    <i class="fa-brands fa-linkedin">&nbsp;</i>
  </a>
</div>