---
layout: layouts/home.njk
eleventyNavigation:
  key: Examples
  order: 5
  url: /examples
permalink: /examples/
---

<h1>Examples</h1>

<h2>Written</h2>

<a href="https://www.gatsbyjs.com/blog/gatsby-5-typescript-and-generated-graphql-types-a-walkthrough">
Gatsby 5, Typescript, and Generated GraphQL types: a Walkthrough.
</a>

<h2>Videos</h2>

<h3>Webinars</h3>

<h4>Digging into the Gatsby 5 Slice API</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tKm9HD7VUPE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h3>Video Content</h3>

<h4>Gatsby in 3 minute sessions #2: Slice API</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/yTbTKaF4aiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h2>Conference Speaking</h2>

<h4>NodeConf.EU 2022- Augmenting Node.js with WebAssembly</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/bYCrCKNJBW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>