---
layout: layouts/base.njk
eleventyNavigation:
  key: Experience
  order: 3
  url: /experience
permalink: /experience/
---

<h1>Experience</h1>

<h2>Summary</h2>

<ul>
  <li>6+ years experience in Developer Relations/Developer Advocacy/Developer Evangelism</li>
  <li>10+ years experience as a Developer
    <ul>
      <li>Open source contributor</li>
      <li>Docs update lover</li>
    </ul>
  </li>
</ul>

<h2>Skills</h2>

<ul>
  <li>Programming
    <ul>
      <li>HTML/CSS/JS (ES2015+) or "frontend web development"
        <ul>
          <li>WebAssembly</li>
          <li>JS Web APIs</li>
          <li>WebRTC</li>
        </ul>
      </li>
      <li>JS frameworks
        <ul>
          <li>React</li>
          <li>Next.js</li>
          <li>Gatsby</li>
        </ul>
      </li>
      <li>Node.js/Deno</li>
      <li>"backend web development"</li>
      <li>Rust</li>
      <li>Python</li>
      <li>Databases (SQL and noSQL)</li>
    </ul>
  </li>
  <li>Marketing
    <ul>
      <li>Creating content campaigns</li>
      <li>Using analytics to determine KPIs/success</li>
      <li>Multi-channel marketing campaigns</li>
      <li>Developer-centric marketing</li>
    </ul>
  </li>
  <li>Community Building
    <ul>
      <li>Twitter/Dev.to/Discord/GitHub</li>
      <li>Creating champion or MVP programs</li>
      <li>Interacting with users with problems</li>
      <li>Engaging with community</li>
    </ul>
  </li>
  <li>Content Creation
    <li>Written content
      <ul>
        <li>Book-writing</li>
        <li>Product-oriented blog posts</li>
        <li>Mentor other team members to write content</li>
      </ul>
    </li>
    <li>Video content
      <ul>
        <li>Product and concept videos</li>
        <li>Webinars</li>
        <li>Basic video editing</li>
      </ul>
    </li>
  </li>
  <li>Public Speaking
    <ul>
      <li>Speaking at developer conferences</li>
      <li>Speaking at events with less technical people</li>
    </ul>
  </li>
  <li>Communication
    <ul>
      <li>Direct communication</li>
      <li>Takes constructive feedback well</li>
      <li>"Works out loud"</li>
    </ul>
  </li>
  <li>General
    <ul>
      <li>Mentoring</li>
      <li>Early management skills</li>
      <li>Fast learner</li>
    </ul>
  </li>
</ul>

<h2>Work History</h2>

This can be located on <a href="https://linkedin.com/in/nodebotanist" target="_blank">my LinkedIn Page</a>.


